<% if users.any? %>
<div class="row">
  <% users.each do |user| %>
    <div class="col-md-3">
      <div class="card">
        <div class="card-image">
          <% if user.image? %>
            <%= image_tag user.image.url ,height: '200',width: '200' ,:alt => 'user'%>
          <% else %>
            <image src="/assets/NoImage.png" height="200" width="200" alt="noimage">
          <% end %>
            <h5 class="card-title "> <%= user.name %> </h5>
            <%= link_to 'more', user_path(user) ,class: 'btn btn-primary btn-block' %>

        </div>
      </div>
    </div>
  <% end %>
</div>
  <%= paginate users %>
<% end %>
